In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('etuovi_asunnot.csv')

### Dropping rows with '-1' in them. (They didn't have any info)

In [63]:
df=df[df['Hinta'] != '-1']

### Getting part of the city. Street address is not that relevant

In [64]:
df['Asunnon tyyppi'] = df['Asunnon tyyppi'].apply(lambda x: x.split(" ")[0])

In [65]:
df.rename(columns={'Sijanti': 'Sijainti'},inplace=True)

In [66]:
df['Sijainti'] = df['Sijainti'].apply(lambda x: x.split(",")[1])

In [67]:
df

     Asunnon tyyppi       Sijainti      Hinta     Koko Rakennus vuosi
0          Paritalo        Palokka  307 000 €   102 m²           2016
1        Kerrostalo     Vaajakoski   76 000 €    54 m²           1965
2          Rivitalo        Palokka  127 000 €    64 m²           1980
3        Kerrostalo        Lutakko  209 000 €    44 m²           2008
4        Kerrostalo       Keskusta   89 000 €    35 m²           1955
...             ...            ...        ...      ...            ...
1911     Kerrostalo     Pirttimäki   83 000 €  21,5 m²           2018
1912     Kerrostalo   Kivelänranta  167 475 €  43,5 m²           2019
1914     Kerrostalo       Keskusta  193 000 €    72 m²           1960
1916     Kerrostalo        Varikko   79 000 €  91,5 m²           1984
1917       Rivitalo     Korpilahti   49 000 €    33 m²           1983

[1185 rows x 5 columns]

#### Price to numerical

In [68]:
df['Hinta'] = df['Hinta'].apply(lambda x: x.replace("€", "").replace(" ", "").replace(",", "."))

In [69]:
df['Hinta'].apply(lambda x: float(x))
df

     Asunnon tyyppi       Sijainti   Hinta     Koko Rakennus vuosi
0          Paritalo        Palokka  307000   102 m²           2016
1        Kerrostalo     Vaajakoski   76000    54 m²           1965
2          Rivitalo        Palokka  127000    64 m²           1980
3        Kerrostalo        Lutakko  209000    44 m²           2008
4        Kerrostalo       Keskusta   89000    35 m²           1955
...             ...            ...     ...      ...            ...
1911     Kerrostalo     Pirttimäki   83000  21,5 m²           2018
1912     Kerrostalo   Kivelänranta  167475  43,5 m²           2019
1914     Kerrostalo       Keskusta  193000    72 m²           1960
1916     Kerrostalo        Varikko   79000  91,5 m²           1984
1917       Rivitalo     Korpilahti   49000    33 m²           1983

[1185 rows x 5 columns]

#### Size to numerical

In [78]:
df['Koko'] = df['Koko'].apply(lambda x: x.replace("m²","").strip().replace(",","."))
df['Koko'].apply(lambda x: float(x))
df

     Asunnon tyyppi       Sijainti   Hinta  Koko Rakennus vuosi
0          Paritalo        Palokka  307000   102           2016
1        Kerrostalo     Vaajakoski   76000    54           1965
2          Rivitalo        Palokka  127000    64           1980
3        Kerrostalo        Lutakko  209000    44           2008
4        Kerrostalo       Keskusta   89000    35           1955
...             ...            ...     ...   ...            ...
1911     Kerrostalo     Pirttimäki   83000  21.5           2018
1912     Kerrostalo   Kivelänranta  167475  43.5           2019
1914     Kerrostalo       Keskusta  193000    72           1960
1916     Kerrostalo        Varikko   79000  91.5           1984
1917       Rivitalo     Korpilahti   49000    33           1983

[1185 rows x 5 columns]